.showcase,
.cta {
  padding-top: 5.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.showcase-header {
  max-width: 700px;
}

.showcase-header,
.showcase-filter {
  width: 100%;
  padding: 0 0.9rem;
}

.showcase-filter {
  margin-top: 5.5rem;
  padding-bottom: 1.25rem;
}

.showcase-filter__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
}

.showcase-filter__item {
  margin-right: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.2rem 0.8rem;
}

.showcase-filter__item:hover {
  cursor: pointer;
}

.showcase-gallery {
  display: grid;
  grid-gap: 1.25rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 3fr));
  padding: 0.9rem;
}

.gallery-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.showcase-overlay {
  background: #1f1f1f;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.active-link {
  background: #1f1f1f;
  color: #ffffff;
}

.showcase-column {
  display: none;
  position: relative;
}

.showcase-column:hover .showcase-overlay {
  opacity: 1;
}

.showcase-text {
  color: #ffffff;
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.showcase-show {
  display: block;
}

.cta__message {
  text-align: center;
}

.cta__message h2 {
  font-size: 1.9rem;
  font-weight: 300;
  margin: 0 0 1.8rem;
  padding: 0;
  color: #1f1f1f;
}

.cta__button {
  background: #1f1f1f;
  border: none;
  color: #ffffff;
  padding: 0.6rem 1.8rem;
  font-size: 1rem;
}

.cta__button:hover {
  background: #bdb099;
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 40rem) {
  .showcase-filter__items {
    justify-content: center;
    flex-wrap: wrap;
  }
  .showcase-filter__item {
    font-size: 14px;
    flex-basis: 15%;
  }
  .showcase-gallery {
    padding: 0;
  }
}

@media (max-width: 30rem) {
  .cta__message h2 {
    font-size: 1.6rem;
  }
}
