.showcase {
  padding-top: 5.5rem;
}

.showcase-wrapper {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  margin-right: auto;
  margin-left: auto;
}

.showcase-header,
.showcase-filter {
  width: 100%;
  padding: 0 0.9rem;
}

.showcase-header h1 {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.2;
  color: #1f1f1f;
  text-transform: capitalize;
  letter-spacing: -0.5;
}

.showcase-header p {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0;
  margin: 0;
}

.showcase-filter {
  margin-top: 5.5rem;
  padding-bottom: 1.25rem;
}

.showcase-filter__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.showcase-filter__item {
  margin-right: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}
