@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #f3f3f3;
  color: #686b70;
  padding: 30px;
  line-height: 1.80857;
}

.mobile-nav,
.footer-widgets,
.main-header {
  margin: 0 auto;
}

#wrapper {
  background: #fff;
}

.main-header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  border-bottom: 1px solid #efefef;
}

.main-header__brand {
  color: #1f1f1f;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 700;
  margin-top: 1rem;
}

.main-nav {
  margin-top: 1.5rem;
}

.main-nav__items,
.footer-nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.main-nav__item:hover,
.mobile-nav__item a:hover {
  border-top: 2px solid #bdb099;
  border-bottom: 2px solid #bdb099;
  cursor: pointer;
}

.social {
  color: #777;
  background: #f3f3f3;
  width: 35px;
  font-size: 1.25rem;
  text-align: center;
  font-weight: lighter;
  border-radius: 100%;
  margin: 0 0.2rem;
}

.social.firstlink {
  margin-left: 30px;
}

.social:hover {
  border: none;
  background: #bdb099;
  color: #ffffff;
}

.main-nav__toggle {
  background: #fff;
  border: 1px solid #ddd;
  padding: 9px 10px;
  border-radius: 4px;
  margin: 1rem 0.9rem 0 0;
  display: none;
}

.main-nav__toggle i {
  color: #777;
  font-size: 1.4rem;
}

.main-nav__toggle:hover {
  background: #ddd;
}

.mobile-nav {
  display: none;
  border-bottom: 1px solid #efefef;
  width: 95%;
}

.mobile-nav__items {
  margin: 0;
  list-style: none;
  padding: 0.5rem 0 1.5rem 1.5rem;
}

.mobile-nav__item {
  font-weight: 600;
  line-height: 20px;
  padding: 0.5rem 1rem;
}

.mobile-nav__item a {
  padding: 0.5rem;
}

.active {
  display: block;
}

footer {
  margin-top: 5.5rem;
  margin-bottom: -0.1rem;
  padding: 5.5rem 0;
  background-color: #222222;
}

.footer-widgets {
  display: flex;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  max-width: 1200px;
  justify-content: space-between;
}

.widget {
  padding: 0 0.9rem;
  color: #fff;
  width: 50%;
}

.widget-title h3 {
  font-size: 1.3rem;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.copyrights {
  background: #1d1d1d;
  padding: 3rem 0;
}

.copyrights-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
}

.footer-nav__item {
  margin: 0 0.3rem;
}

.scroll-top {
  padding: 0 0.9rem;
  color: #fff;
  background: #686b70;
  border-radius: 50%;
}

.scroll-top:hover {
  background: #777;
  cursor: pointer;
}

/* Media Queries*/

@media (max-width: 740px) {
  .main-nav {
    display: none;
  }

  .main-nav__toggle {
    display: block;
  }

  .copyrights-wrapper {
    display: block;
  }
}

@media (max-width: 800px) {
  .social {
    display: none;
  }
}

@media (max-width: 960px) {
  .footer-widgets {
    display: block;
  }

  .widget {
    width: 100%;
  }
}

@media (max-width: 1380px) {
  body {
    padding: 0 15px;
  }
}

@media (max-width: 1100px) {
  body {
    padding: 0;
  }
}
