.contact-section {
  padding: 5.5rem 0;
}

.contact-header {
  width: 100%;
  padding: 0 0.9rem;
  text-align: center;
}

.contact-header h1 {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.2;
  color: #1f1f1f;
  text-transform: capitalize;
  letter-spacing: -0.5;
}

.contact-header p {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0;
  margin: 0;
}
